@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  overflow-x: hidden;
}
html, body {
  width: 100%;
  margin: 0;
  padding: 0;
}
*, *::before, *::after {
  box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .spin {
    animation: spin 3s linear infinite;
  }
  .spin-hover:hover {
    animation: spin 3s linear infinite;
  }

